<!-- <form accept-charset="UTF-8" action="/users" method="post">

  <label for="username">Username:</label>
  <input id="username"  name="username" type="text"><br>

  <label for="email">e-mail:</label>
  <input id="email" name="email" type="text"><br>

  <label for="password">Password:</label>
  <input id="password" name="password" type="password"><br>

  <input type="submit" value="Submit">
</form> -->
<!-- <form accept-charset="UTF-8" action="/users" method="post">
  ...
  <input id="username"  name="user[username]" type="text"><br>
  ...
  <input id="email" name="user[email]" type="text"><br>
  ...
  <input id="password" name="user[password]" type="password"><br>
  ...
  <input type="submit" value="Submit">
</form> -->


<h1>Create User</h1>
<%= render 'form', user: @user %>
